
@model IEnumerable<homeStay_MVC.Models.Admin>

<style>
    #subt {
        background-color: skyblue ;
        border-radius: 10px;
        padding: 5px;
        padding-right: 15px;
        padding-left: 15px;
        cursor: pointer;
        color: floralwhite;
        font-size: 20px;
        font-weight: 700;
    }
        #subt:hover {
            filter: brightness(1.3);
            color: white;
        }
    #add {
        background-color: deepskyblue;
        border-radius: 10px;
        padding: 5px;
        padding-right: 15px;
        padding-left: 15px;
        cursor: pointer;
        color: floralwhite;
        font-size: 20px;
        font-weight: 700;
    }
        #add:hover {
            filter: brightness(1.3);
            color: white;
        }
    #calcult{
        display:flex;
        justify-content:space-evenly;
    }
</style>



<div id="container">
    <div id="room">
        <ul id="room-icons">
            @foreach (var item in Model)
            {
                if (item.Price > 0)
                {
                    <li>
                        <img src="@Html.DisplayFor(modelItem => item.picTwo)" class="imm">
                        <p id="hotelName">@Html.DisplayFor(modelItem => item.RoomName)</p>
                        <p id="stars">@Html.DisplayFor(modelItem => item.Stars)-star Hotel </p>
                        <p id="address">Price - <span>@Html.DisplayFor(modelItem => item.Price)</span>/-</p><br>
                        <div id="calcult">
                            <a id="subt" onclick="subt()">-</a>
                            <a id="add" onclick="add()">+</a>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>
