
@model IEnumerable<homeStay_MVC.Models.Admin>

@{
    ViewBag.Title = "Rooms";
}
<link rel="stylesheet" href="https://app.staticsave.com/root/root.css">
<link href="~/Content/Index.css" rel="stylesheet" />

<style>
    span {
        color: forestgreen;
        font-style: oblique;
    }

    .imm {
        height: 200px;
        width: 300px;
    }

    .filter {
        border-radius: 20px;
        padding: 20px;
        background-color: honeydew;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    .filterBtn {
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        color: white;
        padding: 10px;
        background-color: var(--accent);
        border-radius: 10px;
        transition: 0.3s;
    }

        .filterBtn:hover {
            transition: 0.3s;
            filter: brightness(1.2);
            color: white;
        }
</style>






<div class="filter">
    <div class="starFilter">
        <a onclick="hideSection1()" href="" class="filterBtn" id="star5">5-stars</a>
        <a onclick="hideSection()" href="" class="filterBtn" id="star4">4-stars</a>
    </div>
</div>

<div id="Str5">
    @Html.Partial("_Star5")
</div>
<div id="Str4">
    @Html.Partial("_Star4")
</div>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#star5").click(function () {
            $("#Str5").slideDown("5000");
        });
    });
    $(document).ready(function () {
        $("#star4").click(function () {
            $("#Str4").slideUp("5000");
        });
    });
    function hideSection1() {
        document.getElementById('pss1').style.display = 'none';
        document.getElementById('pss2').style.display = 'block';
    }
    function hideSection2() {
        document.getElementById('pss1').style.display = 'block';
        document.getElementById('pss2').style.display = 'none';
    }
</script>
