@{
    ViewBag.Title = "Home Page";
}
<head>
    <link rel="icon" type="image/x-icon" href="~/Content/Images/icon.png" />
</head>


<style>
    img {
        width: 45%;
        height: 45%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        margin-bottom: 50px;
        cursor: pointer;
    }
</style>



<a href="http://localhost:50784/Rooms">
    <img src="~/Content/Images/logo.png" draggable="false" />
</a>
